<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImageClassifier</title>
    <style>
    .w3-container {
    margin: 3rem;
    background-color:cornsilk;
    text-align: center;
   }
   img{
   display:inline;
   padding:.5rem
   }
    </style>
</head>
<body class="container">
{% if data['filename'] %}
    <div>
        <img src="{{'/display/'+data['filename']}}">
        <p>The uploaded image is predicted to be <strong>{{data['prediction']}}</strong></p>
    </div>
{% else %}
    <div>
        <p>Image prediction results are not available</p>
    </div>
{% endif %}
</body>
</html>